<div class="nav-container">
  <nav id='navbar'>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Marco Cabrera</span>
        <span class="example-spacer"></span>
        <div class="p2"><button mat-fab routerLink="/home" routerLinkActive="active"><a ><i class="material-icons">
          house
          </i></a></button></div>
        <div class="p2"><button mat-fab routerLink="/store" routerLinkActive="active"><a ><i class="material-icons">
          storefront
          </i></a></button></div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</div>
<router-outlet></router-outlet>
