<mat-grid-list cols="4" rowHeight="500px">
  <mat-grid-tile
      *ngFor="let tile of tiles; index as i "
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <div *ngIf="i === 0">
        <h1>Who is Marco Cabrera?</h1>
      </div>
      <div *ngIf="i === 1">
        <img src="assets/skate.JPG" alt="" style="width:auto;height:auto;">
      </div>
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="225px">
  <mat-grid-tile
      *ngFor="let tile of tiles2; index as i "
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      <div *ngIf="i === 0">
      </div>
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
