<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mck231</mat-card-title>
    <mat-card-subtitle>Pennies</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/who-is-marco-cabrera.appspot.com/o/penny-stack-1413908505EoY.jpg?alt=media&token=a8cb9ffc-8420-413b-bff1-feabcb40f9cc" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Pennies is my first attempt to make a edm track
    </p>
  </mat-card-content>
  <mat-card-actions>
    <audio controls name="pennies">
      <source
      src="https://firebasestorage.googleapis.com/v0/b/who-is-marco-cabrera.appspot.com/o/pennies.wav?alt=media&amp;token=755552d7-f0f0-49b0-b121-25a20b456a0c"
      type="audio/wav">
    </audio>
  </mat-card-actions>
</mat-card>
