.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/who-is-marco-cabrera.appspot.com/o/IMG_2728.JPG?alt=media&token=5a30a258-f00c-4be5-90ee-a13e66c0130b');
  background-size: cover;
}
